body {
    background-color: #E5DADA;
    font-size: 25px;
}

h1 {
    color: #e59500;
    display: flex;
    justify-content: center;
}

.navigation {
    background-color:#002642;
    border: 10px solid #e59500;
    padding: 20px;
    list-style-type: none   ;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    top: 0;
    margin-top: 0%;

    
}

img {
    max-width: 400px;
    max-height: 500px; 
    float: left;
    padding-right: 20px;
}

